<div class="menu_header">работа с объектами</div>
<form id="actions_menu_modes" class="actions_menu">
    <p>
        <input type="radio" name="menu_actions"
               id="menu_actions_option1">
        <label for="menu_actions_option1">+</label>

        <input type="radio" checked name="menu_actions"
               id="menu_actions_option2">
        <label for="menu_actions_option2">&#x2196;</label>
    </p>
</form>
<form id="actions_menu_scale" class="actions_menu">
    <label for="actions_page_scale">Масштаб объектов</label>
    <input type="text" id="actions_page_scale" readonly value="100%" size="6">
</form>
