{% load timedelta %}
<div class="menu_header">документация</div>
<div class="docs-box-panel">
    <table>
        <tbody>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_infoplan_file' project.title %}">Инфоплан</a>
            </td>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
{#                <a href="{% url 'rebuild_pdf_files' project.title %}">pdf</a>#}
                <a>pdf</a>
            </td>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_counts_file' project.title %}">Кол-во</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_vars_file' project.title %}">Словарь</a>
            </td>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_picts_file' project.title %}">Пикты</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{#<span class="pdf_generation_label">#}
{#    <small title="{{ pdf_created_time }}">от {{ pdf_created_time|timedelta_pretty }} </small>#}
{#    <span id="pdf_generation_link" data-activate-after="{{ pdf_refresh_timeout }}"#}
{#          onclick="pdfRequest('{{ project.title }}')">&#8635;</span>#}
{#</span>#}
{#<br>#}
{#<a id="pdf_original_link" target="_blank" rel="noopener noreferrer"#}
{#   href="{{ pdf_original.file.url }}">pdf</a>#}
