{% load timedelta %}
<div class="menu_header">документация</div>
<div class="docs-box-panel">
    <table>
        <tbody>
        <tr>
            <td>
                <span class="z_pict pict_pos_middle small">&nbsp;&nbsp;</span>
                <a href="{% url 'names_edit_view' project.id %}?return_to_page={{ page.code }}">Словарь</a>
            </td>
        </tr>
        <tr>
            <td>
                <span class="z_pict pict_pos_middle small">&#xE916;</span>
                <a download="project_{{ project.title }}_infoplan.tar"
                   href="{% url 'get_infoplan_file' project.id %}">Инфоплан</a>
            </td>
        </tr>
        <tr>
            <td>
                <span class="z_pict pict_pos_middle small">&#xE916;</span>
                <a download="project_{{ project.title }}_marker_counts.csv"
                   href="{% url 'get_counts_file' project.id %}">Количество</a>
            </td>
        </tr>
        <tr>
            <td>
                <span class="z_pict pict_pos_middle small">&#xE916;</span>
                <a download="project_{{ project.title }}_picts.csv"
                   href="{% url 'get_picts_file' project.id %}">Пикты</a>
            </td>
        </tr>
        <tr>
            <td>
                <span class="z_pict pict_pos_middle small">&nbsp;&nbsp;</span>
                {#                <a href="{% url 'get_pdf_file' project.id %}">PDF</a>#}
                <span id="download_pdf_span" data-target-url="{% url 'get_pdf_file' project.id %}">PDF</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
