{% load timedelta %}
<div class="menu_header">документация</div>
<div class="docs-box-panel">
    <table>
        <tbody>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'names_edit_view' project.id %}?return_to_page={{ page.code }}">Словарь</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_infoplan_file' project.id %}">Инфоплан</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_counts_file' project.id %}">Количество</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
                <a href="{% url 'get_picts_file' project.id %}">Пикты</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-long-arrow-alt-down"></i>
{#                <a href="{% url 'get_pdf_file' project.id %}">PDF</a>#}
                <span onclick="handleFileDownloadWithRetryAfter('{% url 'get_pdf_file' project.id %}')">PDF</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
