<div class="menu_header">типы носителей</div>
<p>
    <a href="{% url 'add_project_layer' project_id=project.id %}?return={{ page.code }}" class="fill-button">
        Добавить тип носителей
    </a>
</p>
<form>
<ul class="layers-box side_box_list">
{% load layers_visibility %}
{% for l in layers %}
    <li class="layer-{{ l.title }} {{ l.title|is_not_disabled:state_data.hidden_layers }}"
        onclick="handleClickLayerListItem(this)">
        <span style="color: black;" class="layer-title-span">{{ l.title }}</span>
        <span style="float: right">
            <a href="{% url 'edit_project_layer' project_id=project.id layer_title=l.title %}?return={{ page.code }}"
               class="hidden icon">&#x270E</a>
            <a class="hidden icon">&#x2A09</a>
        </span>
    </li>
{% endfor %}
</ul>
</form>
