<div class="menu_header">типы носителей</div>
<p>
    <a href="{% url 'add_project_layer' title=project.title %}" class="fill-button">
        Добавить тип носителей
    </a>
    <a style="float: right">+</a>
</p>
<form>
<ul class="side_box_list">
{% load layers_visibility %}
{% for layer_title, color in layers %}
    <li style="color: {{ color }};"
        class="{{ layer_title }} {{ layer_title|is_enabled:layers_visible }}"
        onclick="setActiveLayer(this); toggleLayerHandler('{{ layer_title }}')">
        <span style="color: black;" class="layer-title-span">{{ layer_title }}</span>
        <span style="float: right">
            <a href="{% url 'edit_project_layer' project_title=project.title layer_title=layer_title %}"
               class="hidden icon">&#x270E</a>
            <a class="hidden icon">&#x2A09</a>
        </span>
    </li>
{% endfor %}
</ul>
</form>
