<div class="menu_header">типы носителей</div>

<p style="">
    <a class="fill-button"
       href="{% url 'add_project_layer' project_id=project.id %}?return_to_page={{ page.code }}">
        Добавить
    </a>
    <a class="fill-button" style="margin: 6px 0 0 6px"
       href="{% url 'setup_layer_groups' project_id=project.id %}?return_to_page={{ page.code }}">
        Группировка
    </a>
</p>

<div class="layers-box-panel">
    <a id="all-layers-toggle-invisible" class="active">
        <span class="z_pict pict_pos_middle small">&#xE915;</span> Выключить все
    </a>
    <a id="all-layers-toggle-visible">
        <span class="z_pict pict_pos_middle small">&#xE914;</span> Включить все
    </a>
</div>

<style>
    {# to fix height due to additional button; (16px + 18px) is "Добавить тип носителей" (top margin + height) #}
    .page-table-column-block ul {
        height: calc(100% - (16px + 18px + 16px) - var(--column-vertical-margins) - var(--right-deleted-height));
    }
</style>

<ul class="layers-box side_box_list">
{% load layers_visibility %}
{% for l in layers %}
    <li class="side-box-list__item layer-{{ l.title }} {{ l.title|is_not_disabled:state_data.hidden_layers }}"
        onclick="handleClickLayerListItem(this)">
        <span class="side-box-list__item__marks-box">
            <span class="side-box-list__item__mark mark-active"><i class="fas fa-circle"></i></span>
            <span class="side-box-list__item__mark mark-inactive"><i class="far fa-circle"></i></span>
        </span>
        <span style="color: black;" class="layer-title-span">{{ l.title }}</span>
        <span style="float: right">
            <a href="{% url 'edit_project_layer' project_id=project.id layer_title=l.title %}?return={{ page.code }}"
               class="hidden icon">&#x270E;&nbsp;</a>
{#            <a class="hidden icon">&#x2A09</a>#}
        </span>
    </li>
{% endfor %}
</ul>
