<div class="menu_header">типы носителей</div>

<div class="layers-box-panel">
    <a id="all-layers-toggle-invisible" class="active">
        <span class="z_pict pict_pos_middle small">&#xE915;</span> Выключить все
    </a>
    <a id="all-layers-toggle-visible">
        <span class="z_pict pict_pos_middle small">&#xE914;</span> Включить все
    </a>
</div>

<ul class="layers-box side_box_list">
{% load layers_visibility %}
{% for l in layers %}
    {% if l.id in markers_by_layer %}
        <li class="side-box-list__item layer-{{ l.title }} {{ l.title|is_not_disabled:state_data.hidden_layers }}"
            onclick="toggleLayerHandler('{{ l.title }}')">
            <span class="side-box-list__item__marks-box">
                <span class="side-box-list__item__mark mark-active"><i class="fas fa-circle"></i></span>
                <span class="side-box-list__item__mark mark-inactive"><i class="far fa-circle"></i></span>
            </span>
            <span style="color: black" class="layer-title-span">{{ l.title }}</span>
        </li>
    {% endif %}
{% endfor %}
</ul>
