<div class="scrollable">
    <div id="plan-page-map-container" style="position: relative; height: inherit;">
        <svg id="project-page-plan-svg"
             viewBox="0 0 {{ page.plan.width }} {{ page.plan.height }}">
            <g id="project-page-svg-origin">
                <image href="{{ page.plan.url }}"
                       width="{{ page.plan.width }}" height="{{ page.plan.height }}">
                </image>
                <rect id="project-page-svg-background"
                      fill-opacity="0" width="{{ page.plan.width }}" height="{{ page.plan.height }}">
                </rect>
                <rect id="project-page-svg-selection-rect"></rect>
                {% load layers_visibility %}
                {% for layer, markers in markers_by_layer.items %}
                    <g class="layer_markers layer-{{ layer.title }} {{ layer.title|is_enabled:layers_visible }}">
                        <symbol id="marker_layer-{{ layer.title }}" overflow="visible">
                            <g transform="scale({{ marker_display_config.marker_scale }})">
                                {{ layer.kind.svg_figures|safe }}
                            </g>
                        </symbol>
                        {% for marker in markers %}
                            <use href="#marker_layer-{{ layer.title }}"
                                 x="{{ marker.pos_x }}" y="{{ marker.pos_y }}"
                                 transform="rotate({{ marker.rotation }} {{ marker.pos_x }} {{ marker.pos_y }})"
                                 class="plan_marker"
                                 data-marker-uid="{{ marker.uid }}"
                                 data-layer-title="{{ layer.title }}"></use>
                            <g class="marker_group">
                                {% with mcr=marker_display_config.circle_radius %}
                                <line x1="{{ marker.pos_x }}" y1="{{ marker.pos_y }}"
                                      x2="{{ marker.pos_x }}" y2="{{ marker.pos_y }}"
                                      class="marker_link" data-mr="{{ mcr }}"
                                      data-cx="{{ marker.pos_x }}" data-cy="{{ marker.pos_y }}"></line>
                                <circle cx="{{ marker.pos_x }}" cy="{{ marker.pos_y }}" r="{{ mcr }}"
                                        class="marker_circle" id="marker_circle-{{ marker.uid }}"
                                        data-marker-uid="{{ marker.uid }}" data-layer-title="{{ layer.title }}"></circle>
                                {% endwith %}
                                {% with cmp=marker_display_config.comment_mark_padding cmr=marker_display_config.comment_mark_radius %}
                                <circle cx="{{ marker.pos_x }}" cy="{{ marker.pos_y }}" r="{{ cmr }}"
                                        transform="translate({{ cmp }}, -{{ cmp }})"
                                        class="marker_comment_mark
                                        {{ marker.has_comments|yesno:'marker_has_comment,' }}
                                        {{ marker.all_comments_resolved|yesno:'marker_comments_resolved,' }}"></circle>
                                {% endwith %}
                            </g>
                        {% endfor %}
                    </g>
                {% endfor %}
            </g>
        </svg>
        <div id="project-page-messages-container">
            <div>
                {% for layer, markers in markers_by_layer.items %}
                    <div class="layer_messages layer-{{ layer.title }}"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="map_controls">
    <div>
        <svg width="32" height="32">
            <g id="map_control_plus" class="map_control">
                <circle r="15" cx="16" cy="16"></circle>
                <line x1="6" y1="16" x2="26" y2="16" style="stroke-width: 2;"></line>
                <line x1="16" y1="6" x2="16" y2="26" style="stroke-width: 2;"></line>
            </g>
        </svg>
    </div>
    <div>
        <svg width="32" height="32">
            <g id="map_control_minus" class="map_control disabled">
                <circle r="15" cx="16" cy="16"></circle>
                <line x1="6" y1="16" x2="26" y2="16" style="stroke-width: 2;"></line>
            </g>
        </svg>
    </div>
</div>
<div class="map_legend">
    {% load involved_layers %}
    {% for layer in markers_by_layer|involved_layers %}
        <div>
            <svg width="30" height="30" style="vertical-align: top;">
                <symbol id="legend_marker_layer-{{ layer.title }}" overflow="visible">
                    {{ layer.kind.svg_figures|safe }}
                </symbol>
                <use href="#legend_marker_layer-{{ layer.title }}"
                     x="15" y="15"
                     class="plan_marker layer_markers layer-{{ layer.title }}"></use>
            </svg>
            <div class="map_legend_caption">
                {{ layer.title }}<br>
                <small>{{ layer.desc }}</small>
            </div>
        </div>
    {% endfor %}
</div>
