{% if layer.kind.name == 'фингерпост' %}
    <g transform="scale({{ marker_scale }}) translate(-18, 16)">
        <g class="plan_marker_fingerpost">
            <text class="plan_marker_fingerpost__base">
                {{ layer.kind.unicode_symbol }}
            </text>
            <text class="plan_marker_fingerpost__pane pane-1">
                &#xE902;
            </text>
            <text class="plan_marker_fingerpost__pane pane-2">
                &#xE903;
            </text>
            <text class="plan_marker_fingerpost__pane pane-3">
                &#xE904;
            </text>
            <text class="plan_marker_fingerpost__pane pane-4">
                &#xE905;
            </text>
            <text class="plan_marker_fingerpost__pane pane-5">
                &#xE906;
            </text>
            <text class="plan_marker_fingerpost__pane pane-6">
                &#xE907;
            </text>
            <text class="plan_marker_fingerpost__pane pane-7">
                &#xE908;
            </text>
            <text class="plan_marker_fingerpost__pane pane-8">
                &#xE909;
            </text>
        </g>
    </g>
{% elif layer.kind.name == 'напольный' %}
    <g transform="scale({{ marker_scale }}) translate(-14, 13)">
        <text font-family="Zoloto Web Elements v1" font-size="30">
            {{ layer.kind.unicode_symbol }}
        </text>
    </g>
{% elif layer.kind.name == '2' %}
    <g transform="scale({{ marker_scale }}) translate(-15, 13)">
        <text font-family="Zoloto Web Elements v1" font-size="30">
            {{ layer.kind.unicode_symbol }}
        </text>
    </g>
{% elif layer.kind.name == '4' %}
    <g transform="scale({{ marker_scale }}) translate(-15, 13)">
        <text font-family="Zoloto Web Elements v1" font-size="30">
            {{ layer.kind.unicode_symbol }}
        </text>
    </g>
{% else %}
    <g transform="scale({{ marker_scale }}) translate(-15, 14)">
        <text font-family="Zoloto Web Elements v1" font-size="30">
            {{ layer.kind.unicode_symbol }}
        </text>
    </g>
{% endif %}
