<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    {% load static %}
    <script>var BASE_URL = '{{ base_url }}'</script>

{# temp disable fixme  <script src="{% static 'infoplan/controller/pdfGeneration.js' %}"></script>#}
    <script src="{% static 'infoplan/controller/layersEnabled.js' %}"></script>
    <script src="{% static 'infoplan/controller/markerCircles.js' %}"></script>
    <script src="{% static 'infoplan/controller/messageLinks.js' %}"></script>
    <script src="{% static 'infoplan/controller/messageBox.js' %}"></script>
    <script src="{% static 'infoplan/controller/variableWrongness.js' %}"></script>
    <script src="{% static 'infoplan/controller/mapScale.js' %}"></script>
    <script src="{% static 'infoplan/controller/mapController.js' %}"></script>
    <script src="{% static 'infoplan/ui.js' %}"></script>
    <script src="{% static 'infoplan/api.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <style type="text/css">
        {% for layer, _ in markers_by_layer.items %}
            .layer-{{ layer.title }} .variables_container {
                background: {{ layer.color }};
                color: white;
            }
            .layer_markers.layer-{{ layer.title }} {
                fill: {{ layer.color }};
            }
        {% endfor %}
    </style>
    <script src="https://kit.fontawesome.com/d630610ea3.js" crossorigin="anonymous"></script>
</head>
<body style="margin: 0;">
<div id="project-page-table">
    <div id="project-page-left-column">
        <div id="project-page-title-box" class="page-table-column-block">
            {% include 'infoplan/title_box_auth.html' %}
        </div>
        <div id="project-page-docs-box" class="page-table-column-block">
            {% include 'infoplan/docs_box_auth.html' %}
        </div>
        <div id="project-page-areas-box" class="page-table-column-block">
            {% include 'infoplan/areas_box.html' %}
        </div>
    </div>
    <div id="project-page-plan-box">
        {% include 'infoplan/plan_box.html' %}
    </div>
    <div id="project-page-right-column">
        <div id="project-page-actions-box" class="page-table-column-block">
            {% include 'infoplan/actions_box_auth.html' %}
        </div>
        <div id="project-page-layers-box" class="page-table-column-block">
            {% include 'infoplan/layers_box_auth.html' %}
        </div>
        <div id="project-page-deleted-box" class="page-table-column-block">
            {% include 'infoplan/deleted_layers_box_auth.html' %}
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
</body>
</html>
