<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <script src="{% static 'page_sidebars.js' %}"></script>
    <script>var BASE_URL = '{{ base_url }}'</script>
    <script src="{% static 'infoplan/api.js' %}"></script>
    <script src="{% static 'infoplan/ui.js' %}"></script>
    <script src="{% static 'pdf_generation.js' %}"></script>
    <style type="text/css">
        {% for layer, _ in markers_by_layer.items %}
            .layer-{{ layer.title }} .variables_container {
                background: {{ layer.color }};
                color: white;
            }
            .layer_markers.layer-{{ layer.title }} {
                fill: {{ layer.color }};
            }
        {% endfor %}
    </style>
</head>
<body style="margin: 0;">
<table id="project-page-table">
<colgroup>
    <col style="width: 16%;">
    <col style="width: 84%;">
</colgroup>
<thead></thead>
<tbody>
<tr>
    {% include 'infoplan/nav_box_auth.html' %}
    {% include 'infoplan/plan_box.html' %}
</tr>
<tr>
    {% include 'infoplan/pages_box.html' %}
</tr>
<tr>
    {% include 'infoplan/layers_box.html' %}
</tr>
<tr>
    {% include 'infoplan/links_box_auth.html' %}
</tr>
</tbody>
</table>
</body>
</html>
