<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    {% load static %}
    <script>
        var BASE_URL = '{{ base_url }}';
        var pageCode = '{{ page.code }}';
        var projectUid = '{{ project.uid }}';
        var MARKER_CIRCLE_RADIUS = {{ marker_circle_radius }};
        var COMMENT_MARK_PADDING = {{ marker_comment_mark_padding }};
    </script>

    <script src="{% static 'infoplan/mess.js' %}"></script>
    <script src="{% static 'infoplan/controller/layersEnabled.js' %}"></script>
    <script src="{% static 'infoplan/controller/markerCircles.js' %}"></script>
    <script src="{% static 'infoplan/controller/messageLinks.js' %}"></script>
    <script src="{% static 'infoplan/controller/messageBox.js' %}"></script>
    <script src="{% static 'infoplan/controller/variableWrongness.js' %}"></script>
    <script src="{% static 'infoplan/controller/mapScale.js' %}"></script>
    <script src="{% static 'infoplan/controller/mapController.js' %}"></script>
    <script src="{% static 'infoplan/ui.js' %}"></script>
    <script src="{% static 'infoplan/api.js' %}"></script>

    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <style type="text/css">
        {% for layer, _ in markers_by_layer.items %}
            .layer-{{ layer.title }} .variables_container {
                background: white;
                color: black;
            }
            .layer_markers.layer-{{ layer.title }} {
                fill: {{ layer.color.hex_code }};
            }
            .layer-{{ layer.title }} .message_shown .marker_circle {
                stroke: {{ layer.color.hex_code }};
            }
        {% endfor %}
    </style>
</head>
<body style="margin: 0;">
<div id="project-page-table">
    <div id="project-page-left-column">
        <div id="project-page-title-box" class="page-table-column-block">
            {% include 'infoplan/title_box.html' %}
        </div>
        <div id="project-page-docs-box" class="page-table-column-block">
            {% include 'infoplan/docs_box.html' %}
        </div>
        <div id="project-page-areas-box" class="page-table-column-block">
            {% include 'infoplan/areas_box.html' %}
        </div>
    </div>
    <div id="project-page-plan-box">
        {% include 'infoplan/plan_box.html' %}
    </div>
    <div id="project-page-right-column">
        <div id="project-page-actions-box" class="page-table-column-block">
            {% include 'infoplan/actions_box_auth.html' %}
            {# todo actions_box_auth.html -> actions_box.html (create dummy) #}
        </div>
        <div id="project-page-layers-box" class="page-table-column-block">
            {% include 'infoplan/layers_box.html' %}
        </div>
        <div id="project-page-deleted-box" class="page-table-column-block">
            {% include 'infoplan/deleted_layers_box_auth.html' %}
            {# todo deleted_layers_box_auth.html -> deleted_layers_box.html (create dummy) #}
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
</body>
</html>
