<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <script src="{% static 'page_sidebars.js' %}"></script>
    <script src="{% static 'popup_info_block.js' %}"></script>
</head>
<body style="margin: 0;">
<table id="project-page-table">
<colgroup>
    <col style="width: 16%;">
    <col style="width: 84%;">
</colgroup>
<thead></thead>
<tbody>
<tr>
    {% include 'infoplan/nav_box_auth.html' %}
    {% include 'infoplan/plan_box.html' %}
</tr>
<tr>
    {% include 'infoplan/pages_box.html' %}
</tr>
<tr>
    {% include 'infoplan/layers_box.html' %}
</tr>
<tr>
    {% include 'infoplan/links_box_auth.html' %}
</tr>
</tbody>
</table>
</body>
</html>
