a {
    color: black;
}

.fill-button {
    padding: 0 2px;
    text-decoration: none;

    background: var(--button-back-color);
    border: 1px solid var(--button-back-color);
    color: var(--button-font-color);
}
.fill-button:hover {
    background: inherit;
    color: inherit;
}

.fill-button-negative {
    padding: 0 2px;
    text-decoration: none;

    background: var(--button-font-color);
    border: 1px solid var(--button-back-color);
    color: var(--button-back-color);
}
.fill-button-negative:hover {
    background: var(--button-back-color);
    color: var(--button-font-color);
}

.no-border {
    border: none;
}


ul.messages {
    padding-left: 16px;
    list-style-type: none;
}
ul.messages li.error {
    color: red;
}

#project_layer_form label {
    margin-bottom: 4px;
    display: inline-block;
}

span.layer_maker_kind {
    margin-top: 2px;
    display: inline-block;
}

span.layer_maker_kind > input {
    width: 0;
    margin: 0;
}
span.layer_maker_kind > label {
    padding: 4px 8px;
    border: 1px solid grey;
    margin-left: -4px;
}
span.layer_maker_kind > input[type="radio"]:checked + label {
    border: 1px solid black;
    background-color: black;
    color: white;
}

span#layer_color_view {
    display: block;
    width: 24px;
    height: 24px;
}

#project_layer_form,
#load_project_form {
    width: min-content;
}

#load_project_form {
    white-space: nowrap;
}

input.disabled {
    pointer-events: none;
    background: lightgrey;
}


:root {
    --left-column-width: 230px;
    --right-column-width: 230px;
    --column-vertical-paddings: 12px;
    --left-title-height: 18px;
    --left-areas-height: calc(100% - var(--left-title-height) - var(--left-docs-height)
                              - 2 * var(--column-vertical-paddings));
    --left-docs-height: 130px;
    --right-actions-height: 150px;
    --right-layers-height: calc(100% - var(--right-actions-height) - var(--right-deleted-height)
                                - 2 * var(--column-vertical-paddings));
    --right-deleted-height: 18px;
    --button-back-color: black;
    --button-font-color: white;
}

#project-page-table {
    height: 100vh;
    margin-left: calc(var(--left-column-width));
    margin-right: calc(var(--right-column-width));
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#project-page-left-column {
    height: calc(100% - 2 * var(--column-vertical-paddings));
    float: left;
    width: var(--left-column-width);
    margin-left: calc(-1 * var(--left-column-width));
    padding-top: var(--column-vertical-paddings);
    padding-bottom: var(--column-vertical-paddings);
}

#project-page-plan-box {
    height: 100%;
    float: left;
    width: 100%;
    padding: 0;
}

#project-page-right-column {
    height: calc(100% - 2 * var(--column-vertical-paddings));
    float: right;
    width: var(--right-column-width);
    margin-right: calc(-1 * var(--right-column-width));
    padding-top: var(--column-vertical-paddings);
    padding-bottom: var(--column-vertical-paddings);
}

.page-table-column-block {
    padding-left: 12px;
    padding-right: 12px;
}

.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#floor_caption {
    margin-left: 6px;
    word-break: break-all;
}

#project-page-title-box {
    height: var(--left-title-height);
}

#project-page-areas-box {
    height: var(--left-areas-height);
}

#project-page-docs-box {
    height: var(--left-docs-height);
}

#project-page-actions-box {
    height: var(--right-actions-height);
}

#project-page-layers-box {
    height: var(--right-layers-height);
}

#project-page-deleted-box {
    height: var(--right-deleted-height);
}

.menu_header {
    font: normal small-caps 400 14px sans-serif;
}



#project-page-left-column hr {
    border: none;
    border-bottom: solid 1px black;
}

#project-page-areas-box a {
    padding-right: 80px;
}

.pages-box-button {
    text-decoration: none;
}

.pages-box-button-active {
    background-color: lightgrey;
}



#project-page-plan-svg {
    height: inherit;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.map_controls {
    position: absolute;
    right: 230px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.map_controls .disabled {
    stroke: grey;
    fill-opacity: 0;
}

.map_control {
    stroke: black;
    fill: white;
}

.map_legend {
    /*border: 1px solid black;*/
    pointer-events: none;
    position: absolute;
    left: 330px;
    top: 130px;
}
.map_legend_caption {
    display: inline-block;
    max-width: 100px;
}



.plan_marker {
    /*stroke: none;*/
}


.marker_circle {
    fill-opacity: 0;    /* invisible yet clickable */
    stroke-width: 1px;
}

.marker_comment_mark:not(.marker_has_comment) {
    stroke: none;
    fill: none;
}
.marker_comment_mark.marker_comments_resolved.marker_has_comment {
    fill: white;
}


.icon {
    text-decoration: unset;
    color: grey;
}
.icon:hover {
    color: black;
}
.hidden {
    visibility: hidden;
}
tr:hover .icon,
li.active .icon {
    visibility: visible;
}

ul.side_box_list li {
    margin: 4px 0;
}

ul.side_box_list li.active{
    background-color: lightgray;
}

.docs-box-panel {
    font-size: smaller;
}

.docs-box-panel a {
    text-decoration: none;
    color: lightgray;
}
.docs-box-panel a[href] {
    color: unset;
}

.areas-box-layers-comments {
    float: right;
    font-size: 40%;
}

#projects-table {
    border-collapse: collapse;
}

#projects-table tbody tr:hover {
    background-color: lightgrey;
}

#projects-table td {
    padding: 4px;
}

.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently supported by Chrome and Opera */
}


.page-table-column-block ul {
    padding-left: 18px;
    height: calc(100% - var(--column-vertical-paddings));
    overflow: auto;
}

.page-table-column-block li {
    list-style-type: circle;
    cursor: pointer;
    /* to prevent selection on click */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page-table-column-block li.enabled_layer {
    list-style-type: disc;
}

#project-page-areas-box li {
    list-style-type: none;
    padding: 2px 0;
}

form.actions_menu{
    display: inline-block;
}
#actions_menu_modes label {
    color: lightgray;
    font-size: x-large;
    border: 1px solid;
    vertical-align: middle;
}
#actions_menu_modes input {
    display: none;
}
#actions_menu_modes input[type="radio"]:checked + label {
    color: black;
}
form.actions_scale_menu label {
    font-size: smaller;
    width: 54px;
    vertical-align: middle;
    display: inline-block;
    white-space: pre-wrap;
}

select#actions_menu_scale_markers + a {
    visibility: hidden;
}
select#actions_menu_scale_markers[data-changed="true"] + a {
    visibility: visible;
}


g.layer_markers {
    visibility: hidden;
}
g.layer_markers.enabled_layer {
    visibility: visible;
}

#project-page-svg-selection-rect {
    fill: blue;
    opacity: 20%;
    visibility: hidden;
    pointer-events: none;
}
#project-page-svg-selection-rect.active {
    visibility: visible;
}

.message_box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: black solid 1px;
    padding: 6px;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.variables_container {
    flex-grow: 1;
    min-height: 0;
    display: flex;
}

.variables_container ul {
    margin: unset;
    padding: 0 6px;
    list-style-type: none;
    height: 100%;
    list-style-position: inside;
}

.variables_container textarea {
    resize: none;
}

.variables-container-side-block {
    display: inline-block;
}

.variables-container-side-block span.infoplan_icon {
    font-size: 150%;
}

.variables_container ul li {
    white-space: nowrap;
    font-size: 12px;
    font-family: "Zoloto Picts v1", serif;
    /*cursor: pointer;*/
    /* to prevent selection on click */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.variables_container ul li.wrong_variable {
    text-decoration: line-through;
}

/*noinspection CssInvalidPropertyValue*/
.comment_field {
    resize: none;
    outline: none;

    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.message_confirm_btn {
    text-decoration: none;
    text-align: center;

    background: white;
    border: 1px solid black;
    padding: 3px;
}
.message_confirm_btn:hover {
    border: 2px solid black;
    padding: 2px;
}

.pdf_generation_label {
    float: right;
    color: lightgray;
}
#pdf_generation_link {
    cursor: pointer;
}
#pdf_generation_link:hover {
    color: black;
    text-decoration: underline;
}
