a {
    color: black;
}

.fill-button {
    padding: 0 2px;
    text-decoration: none;

    background: var(--button-back-color);
    border: 1px solid var(--button-back-color);
    color: var(--button-font-color);
}
.fill-button:hover {
    background: inherit;
    color: inherit;
}

.fill-button-negative {
    padding: 0 2px;
    text-decoration: none;

    background: var(--button-font-color);
    border: 1px solid var(--button-back-color);
    color: var(--button-back-color);
}
.fill-button-negative:hover {
    background: var(--button-back-color);
    color: var(--button-font-color);
}

.no-border {
    border: none;
}

#load_project_form {
    width: min-content;
}

#load_project_form {
    white-space: nowrap;
}


:root {
    --left-column-width: 230px;
    --right-column-width: 230px;

    --column-vertical-paddings: 12px;
    --left-title-height: 18px;
    --left-areas-height: calc(100% - var(--left-title-height) - var(--left-docs-height)
                              - 2 * var(--column-vertical-paddings));
    --left-docs-height: 130px;

    --right-actions-height: 150px;
    --right-layers-height: calc(100% - var(--right-actions-height) - var(--right-deleted-height)
                                - 2 * var(--column-vertical-paddings));
    --right-deleted-height: 18px;

    --button-back-color: black;
    --button-font-color: white;
}

#project-page-table {
    height: 100vh;
    margin-left: calc(var(--left-column-width));
    margin-right: calc(var(--right-column-width));
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#project-page-left-column {
    height: calc(100% - 2 * var(--column-vertical-paddings));
    float: left;
    width: var(--left-column-width);
    margin-left: calc(-1 * var(--left-column-width));
    padding-top: var(--column-vertical-paddings);
    padding-bottom: var(--column-vertical-paddings);
}

#project-page-plan-box {
    height: 100%;
    float: left;
    width: 100%;
    padding: 0;
}

#project-page-right-column {
    height: calc(100% - 2 * var(--column-vertical-paddings));
    float: right;
    width: var(--right-column-width);
    margin-right: calc(-1 * var(--right-column-width));
    padding-top: var(--column-vertical-paddings);
    padding-bottom: var(--column-vertical-paddings);
}

.page-table-column-block {
    padding-left: 12px;
    padding-right: 12px;
}

.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#floor_caption {
    margin-left: 6px;
    word-break: break-all;
}

#project-page-title-box {
    height: var(--left-title-height);
}

#project-page-areas-box {
    height: var(--left-areas-height);
}

#project-page-docs-box {
    height: var(--left-docs-height);
}

#project-page-actions-box {
    height: var(--right-actions-height);
}

#project-page-layers-box {
    height: var(--right-layers-height);
}

#project-page-deleted-box {
    height: var(--right-deleted-height);
}

.menu_header {
    font: normal small-caps 400 14px sans-serif;
}



#project-page-left-column hr {
    border: none;
    border-bottom: solid 1px black;
}

#project-page-areas-box a {
    padding-right: 80px;
    /*todo page link full width*/
}

.pages-box-button {
    text-decoration: none;
}

.pages-box-button-active {
    background-color: lightgrey;
}



#project-page-plan-svg {
    position: absolute;
}

.map_controls {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.map_controls .disabled {
    stroke: grey;
    fill-opacity: 0;
}

.map_control {
    stroke: black;
    fill: white;
}



.plan_marker {
    /*stroke: none;*/
}


.marker_circle {
    fill-opacity: 0;    /* invisible yet clickable */
    stroke-width: 0.5px;
    stroke: none;
}

.message_shown .marker_circle {
    stroke: grey;
}
.message_shown .marker_link {
    stroke: grey;
}

.marker_correct .marker_circle {
    stroke: green;
}
.marker_wrong .marker_circle {
    stroke: red;
}

.marker_comment_mark {
    stroke: none;
    fill: none;
}
.marker_correct .marker_has_comment {
    stroke: green;
    fill: green;
}
.marker_wrong .marker_has_comment {
    stroke: red;
    fill: red;
}


.icon {
    text-decoration: unset;
    color: grey;
}
.icon:hover {
    color: black;
}
.hidden {
    visibility: hidden;
}
#projects-table tr:hover .icon {
    visibility: visible;
}

#projects-table {
    border-collapse: collapse;
}

#projects-table tbody tr:hover {
    background-color: lightgrey;
}

#projects-table td {
    padding: 4px;
}


.page-table-column-block ul {
    padding-left: 18px;
    height: calc(100% - var(--column-vertical-paddings));
    overflow: auto;
}

.page-table-column-block li {
    list-style-type: circle;
    cursor: pointer;
    /* to prevent selection on click */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page-table-column-block li.enabled_layer {
    list-style-type: disc;
}

#project-page-areas-box li {
    list-style-type: none;
    padding: 2px 0;
}


.message_box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: black solid 1px;
    padding: 6px;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.variables_container {
    flex-grow: 1;
    min-height: 0;
}

.variables_container ul {
    margin: unset;
    padding: 0 6px;
    list-style-type: none;
    height: 100%;
    list-style-position: inside;
}

.variables_container ul li {
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    /* to prevent selection on click */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.variables_container ul li.wrong_variable {
    text-decoration: line-through;
}

/*noinspection CssInvalidPropertyValue*/
.comment_field {
    resize: none;
    outline: none;

    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.message_confirm_btn {
    text-decoration: none;
    text-align: center;

    background: white;
    border: 1px solid black;
    padding: 3px;
}
.message_confirm_btn:hover {
    border: 2px solid black;
    padding: 2px;
}

.pdf_generation_label {
    float: right;
    color: lightgray;
}
#pdf_generation_link {
    cursor: pointer;
}
#pdf_generation_link:hover {
    color: black;
    text-decoration: underline;
}
