{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <script src="{% static 'load_project.js' %}" defer></script>
</head>
<body>
<h2>Добавление проекта</h2>
<form method="POST" enctype="multipart/form-data" id="load_project_form">{% csrf_token %}
    <p>
        <label for="project_name_input">Название проекта</label>
        <br>
        <input name="title" id="project_name_input" type="text" placeholder="Например, Табор"
               pattern="[-_A-Za-z0-9ЁёА-я]+" required size="60">
    </p>
    Добавленные пространства
    <table>
        <tbody id="plan_table">
        </tbody>
    </table>
    <p id="plan_box">
        <label for="plan_input_1" class="fill-button" id="plan_input_label" tabindex="0">Загрузить jpg со схемами
            <input name="plan_files_1" id="plan_input_1" type="file" accept="image/*" multiple style="display: none">
        </label>
    </p>
    Добавленные данные
    <table>
        <tbody id="csv_table">
        </tbody>
    </table>
    <p id="csv_box">
        <label for="csv_input_1" class="fill-button" id="csv_input_label" tabindex="0">Загрузить csv
            <input name="csv_files_1" id="csv_input_1" type="file" accept="text/csv" multiple style="display: none">
        </label>
    </p>
    <p style="white-space: nowrap">
        <a class="fill-button-negative" href="{% url 'projects' %}" style="float: left;">Отмена</a>
        <input type="submit" value="Добавить проект" class="fill-button" style="float: right; font: unset;">
    </p>
</form>
</body>
</html>
