{% load static %}
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
<script src="{% static 'viewer/areas_drag_n_drop.js' %}"></script>
<form method="POST" enctype="multipart/form-data" id="load_project_form"
        {% if project %} data-mode="edit" {% endif %}>{% csrf_token %}
    <p>
        <label for="project_name_input">Название проекта</label>
        <br>
        <input name="title" id="project_name_input" type="text"
               placeholder="Например, Табор" {% if project %} value="{{ project.title }}" {% endif %}
               pattern="[-_A-Za-z0-9ЁёА-я]+" required size="40">
    </p>
    Монтажные области
    <table>
        <tbody id="plan_table">
        {% for p in pages %}
            {% with filename=p.orig_file_name %}
                <tr class="loaded_plan" id='{{ forloop.counter0 }}' draggable="true">
                {% load byte_filter %}
                    <td><i class="fas fa-bars"></i></td>
                    <td><input type="text" name="floor_caption_{{ filename|as_base64 }}" value="{{ p.floor_caption }}"></td>
                    <td>{{ filename }}</td>
                    <td><a class="mark-delete"
                           onclick="deleteFileHandler('{{ filename }}', this.parentNode.parentNode)">&#x2A09</a></td>
                    <td><input type="text" name="floor_offset_{{ filename|as_base64 }}"
                               class="plan-row-offset-input disabled" style="visibility: hidden;"
                               value="{{ p.document_offset|default_if_none:forloop.counter }}"></td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    <p id="plan_box">
        <label for="plan_input_1" class="fill-button" id="plan_input_label" tabindex="0">Загрузить jpg
            <input name="plan_files_1" id="plan_input_1" type="file" accept="image/*" multiple style="display: none">
        </label>
    </p>
    <p style="white-space: nowrap">
        <a tabindex="-1" href="{% url 'projects' %}"
           class="fill-button-negative" style="float: left;">Отмена</a>
        <input type="submit" value="{% if project %}Сохранить изменения{% else %}Добавить проект{% endif %}"
               class="fill-button" style="float: right; font: unset;">
    </p>
</form>
