{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if layer is None %}
        <title>Добавить тип</title>
    {% else %}
        <title>Изменить тип</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
</head>
<body>
{% if layer is None %}
    <h2>Добавление типа</h2>
{% else %}
    <h2>Редактирование типа</h2>
{% endif %}

<form method="POST" enctype="multipart/form-data" id="project_layer_form">
    <p>
        <label for="layer_title">Номер типа</label>
        <br>
        <input id="layer_title" name="layer_title" type="text"
               placeholder="Например, 110_S" pattern="\d+_[A-Z_]+" required size="40">
    </p>
    <p>
        <label for="layer_desc">Название типа</label>
        <br>
        <input id="layer_desc" name="layer_desc" type="text"
               placeholder="Например, &laquo;Уличная стела&raquo;" required size="40">
    </p>
    <p>
        <label>Количество сторон</label>
        <br>
        {% for maker_kind in maker_kind_options %}
            <span class="layer_maker_kind">
                <input type="radio" id="maker_kind_op{{ forloop.counter }}"
                       name="maker_kind" value="{{ maker_kind.id }}"
                       {% if forloop.first %}checked{% endif %}>
                <label for="maker_kind_op{{ forloop.counter }}">{{ maker_kind.name }}</label>
            </span>
        {% endfor %}
    </p>
    <p>
        <label>Цвет</label>
        <span id="layer_color_view" style="background: red"></span>
    </p>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <p>
        <a href="{% url 'project_page' project.first_page.code %}" tabindex="-1"
           class="fill-button-negative" style="float: left;">Отмена</a>
        <input type="submit" value="{% if layer %}Сохранить изменения{% else %}Добавить тип{% endif %}"
               class="fill-button" style="float: right; font: unset;">
    </p>
</form>
</body>
</html>
