<form method="POST" enctype="multipart/form-data" id="load_project_form"
        {% if project %} data-mode="edit" {% endif %}>{% csrf_token %}
    <p>
        <label for="project_name_input">Название проекта</label>
        <br>
        <input name="title" id="project_name_input" type="text"
               placeholder="Например, Табор" {% if project %} value="{{ project.title }}" {% endif %}
               pattern="[-_A-Za-z0-9ЁёА-я]+" required size="60">
    </p>
    Добавленные пространства
    <table>
        <tbody id="plan_table">
        {% for caption, filename in pages_list %}
            <tr class="loaded_plan">
                <td><input type="text" name="floor_caption_{{ filename }}" value="{{ caption }}"></td>
                <td>{{ filename }}</td>
                <td><a class="mark-delete" onclick="deleteFileHandler('{{ filename }}', this.parentNode.parentNode)">&#x2A09</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p id="plan_box">
        <label for="plan_input_1" class="fill-button" id="plan_input_label" tabindex="0">Загрузить jpg со схемами
            <input name="plan_files_1" id="plan_input_1" type="file" accept="image/*" multiple style="display: none">
        </label>
    </p>
    Добавленные данные
    <table>
        <tbody id="csv_table">
        {% for filename, last_modified in csv_list %}
            <tr>
                <td>{{ filename }}</td>
                <td>{{ last_modified }}</td>
                <td><a class="mark-delete" onclick="deleteFileHandler('{{ filename }}', this.parentNode.parentNode)">&#x2A09</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p id="csv_box">
        <label for="csv_input_1" class="fill-button" id="csv_input_label" tabindex="0">Загрузить csv
            <input name="csv_files_1" id="csv_input_1" type="file" accept="text/csv" multiple style="display: none">
        </label>
    </p>
    <p style="white-space: nowrap">
        <a class="fill-button-negative" href="{% url 'projects' %}" style="float: left;">Отмена</a>
        <input type="submit" value="{% if project %}Сохранить изменения{% else %}Добавить проект{% endif %}"
               class="fill-button" style="float: right; font: unset;">
    </p>
</form>
