{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
</head>
<body style="margin: 0;">
<table id="project-page-table">
<colgroup>
    <col style="width: 16%;">
    <col style="width: 84%;">
</colgroup>
<thead></thead>
<tbody>
<tr>
    <td id="project-page-nav-box" class="project-page-table-left-column">
        <b>{{ project.title }}</b>
    </td>
    <td rowspan="4" id="project-page-plan-box">
        <img src="{{ page.plan.url }}">
    </td>
</tr>
<tr>
    <td id="project-page-pages-box" class="project-page-table-left-column">
        <h3 id="floor_caption">{{ page.floor_caption }}</h3>
        <p>{% for uid in page_uid_list %}
            {% if uid == page.uid %}
                <a href="{% url 'project_page' uid %}" class="fill-button no-border">{{ forloop.counter }}</a>
            {% else %}
                <a href="{% url 'project_page' uid %}" class="fill-button-negative no-border">{{ forloop.counter }}</a>
            {% endif %}
        {% endfor %}</p>
        <hr/>
    </td>
</tr>
<tr>
    <td id="project-page-layers-box" class="project-page-table-left-column">
        <h2>Layers box</h2>
    </td>
</tr>
<tr>
    <td id="project-page-links-box" class="project-page-table-left-column"></td>
</tr>
</tbody>
</table>
</body>
</html>
