{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <script>
        window.addEventListener('load', function () {
            Array.from(document.getElementsByClassName('mark-delete'))
                .forEach(elem => elem.addEventListener('click', function (e) {
                    const message = `Вы действительно хотите удалить проект «${elem.dataset.title}»?\n` +
                        'Восстановить проект будет невозможно.';
                    if (!confirm(message))
                        e.preventDefault();
                }));
        });
    </script>
</head>
<body>
<h1>peppers, please</h1>
<p><a href="{% url 'load_project' %}" class="fill-button">Загрузить проект</a></p>
{% if projects|length %}
    <table id="projects-table">
        <thead>
        <tr>
            <td><small>Проекты</small></td>
            <td><small>Дата добавления</small></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for proj in projects %}<tr>
            {% if proj.first_page %}
                <td><a href="{% url 'project_page' proj.first_page.uid %}">{{ proj.title }}</a></td>
            {% else %}
                <td><a>{{ proj.title }}</a></td>
            {% endif %}
            <td>{{ proj.created|date:"d.m.Y" }}</td>
            <td><a href="{% url 'edit_project' proj.title %}"
                   class="hidden icon">&#x270E</a></td>
            <td><a href="{% url 'project_remove' proj.title %}" class="icon mark-delete"
                   data-title="{{ proj.title }}">&#x2A09</a></td>
        </tr>{% endfor %}
        </tbody>
    </table>
{% else %}
    <small>Проектов не обнаружено</small>
{% endif %}
</body>
</html>
