<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
</head>
<body style="margin: 0;">
<table id="project-page-table">
<colgroup>
    <col style="width: 16%;">
    <col style="width: 84%;">
</colgroup>
<thead></thead>
<tbody>
<tr>
    {% include 'viewer/page/nav_box.html' %}
    {% include 'viewer/page/plan_box.html' %}
</tr>
<tr>
    {% include 'viewer/page/pages_box.html' %}
</tr>
<tr>
    {% include 'viewer/page/layers_box.html' %}
</tr>
<tr>
    {% include 'viewer/page/links_box.html' %}
</tr>
</tbody>
</table>
</body>
</html>
