a {
    color: black;
}

.fill-button {
    padding: 0 2px;
    text-decoration: none;

    background: black;
    border: 1px solid black;
    color: white;
}

.fill-button:hover {
    background: inherit;
    color: inherit;
}

.fill-button-negative {
    padding: 0 2px;
    text-decoration: none;

    background: white;
    border: 1px solid black;
    color: black;
}

.fill-button-negative:hover {
    background: black;
    color: white;
}

.no-border {
    border: none;
}

#load_project_form {
    width: min-content;
}

#load_project_form {
    white-space: nowrap;
}

#project-page-table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    border: 2px solid white; /* Прячем рамку вокруг таблицы */
}

.project-page-table-left-column {
    border-right: 1px solid black;
    padding-left: 12px;
    padding-right: 12px;
}

#floor_caption {
    /*min-height: 66px;*/
    /*max-height: 66px;*/
    margin-left: 6px;
}

#project-page-pages-box hr {
    border: none;
    border-bottom: solid 1px black;
}

#project-page-pages-box p {
    width: 12vw;
    overflow: auto;
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 20px;
}

#project-page-nav-box {
    height: 10%;
}

#project-page-layers-box {
    height: 60%;
}

#project-page-pages-box {
    height: 20%;
}

#project-page-links-box {
    height: 10%;
}

#project-page-plan-box {
    width: 100%;
}

.icon {
    text-decoration: unset;
    color: grey;
}
.icon:hover {
    color: black;
}
.hidden {
    visibility: hidden;
}
#projects-table tr:hover .icon{
    visibility: visible;
}

#projects-table {
    border-collapse: collapse;
}

#projects-table tbody tr:hover {
    background-color: lightgrey;
}

#projects-table td {
    padding: 4px;
}
