<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование словаря</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <style type="text/css">
        @font-face {
            font-family: "Zoloto Web Elements v1";
            src: url("{% static 'z_web_elements.ttf' %}") format("truetype");
        }
    </style>
    <script>
        var BASE_URL = '{{ base_url }}';
        var projectId = '{{ project.id }}';
    </script>
    <script defer src="{% static 'documents/names_edit.js' %}"></script>
</head>
<body style="margin-left: 40px">
    <a href="{% url 'project_page' return_to_page_code %}">Вернуться к расстановке</a>
    <h1>
        «{{ project.title }}». Изменение словаря
        <a class="fill-button" style="padding-right: 12px;" href="{% url 'get_vars_file' project.id %}">
            <span class="z_pict pict_pos_middle">&#xE916;</span>Словарь
        </a>
    </h1>

    <table class="no_spacing">
        <thead>
            <tr>
                <td>RU</td>
                <td>EN</td>
            </tr>
        </thead>
        <tbody class="alternate_color">
            {% for number, use_count, name_ru, name_en in names %}
                <tr class="name-edit-input-row">
                    <td class="cell_extra_space">
                        <input class="name-edit-input name-ru no_background no_outline" type="text"
                               value="{{ name_ru }}" data-name="{{ name_ru }}">
                    </td>
                    <td class="cell_extra_space">
                        <input class="name-edit-input name-en no_background no_outline" type="text"
                               value="{{ name_en }}" data-name="{{ name_en }}">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
